<div *ngIf="heroe.id"></div>
<div *ngIf="heroe.id; then editar else crear"></div>
<ng-template #editar><h1>Editar Héroe <small>{{heroe.superhero}}</small></h1></ng-template>
<ng-template #crear><h1>Nuevo Héroe <small>{{heroe.superhero}}</small></h1></ng-template>

<div fxLayout="row"
     fxLayoutGap="40px"
     fxLayout.xs="column-reverse">

    <div fxFlex="50"
         fxLayout="column"
         fxFlex.xs="100">

        <div fxLayout="row" 
             fxLayout.xs="column"
             fxLayoutGap="20px">
            <mat-form-field fxFlex="50" fxFlex.xs="100" color="accent">
                <mat-label>Super Héroe</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="heroe.superhero"
                       required>
            </mat-form-field>
    
            <mat-form-field fxFlex="50" fxFlex.xs="100" color="accent">
                <mat-label>Alter Ego</mat-label>
                <input matInput 
                       type="text" 
                       [(ngModel)]="heroe.alter_ego"
                       required>
            </mat-form-field>
        </div>
        

        <mat-form-field  color="accent">
            <mat-label>Primera Aparición</mat-label>
            <input matInput 
                   type="text" 
                   [(ngModel)]="heroe.first_appearance"
                   required>
        </mat-form-field>

        <mat-form-field  color="accent">
            <mat-label>Personajes</mat-label>
            <input matInput 
                   type="text" 
                   [(ngModel)]="heroe.characters"
                   required>
        </mat-form-field>

        <mat-form-field  color="accent">
            <mat-label>Creador</mat-label>
            <mat-select [(ngModel)]="heroe.publisher"
                        required>
                <mat-option *ngFor="let pub of publisher" 
                            [value]="pub.id">
                            {{pub.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field  color="accent">
            <mat-label>Foto Url</mat-label>
            <input matInput 
                   type="url"
                   [(ngModel)]="heroe.altImg" 
                   required>
        </mat-form-field>

        <br>
        <div fxLayout>
            <button mat-raised-button 
                    color="accent"
                    (click)="guardar()">
                <mat-icon>edit</mat-icon>
                Guardar
            </button>

            <span class="spacer"></span>
            
            <button *ngIf="heroe.id"
                    mat-raised-button
                    color="warn"
                    (click)="eliminar(heroe)">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>

    </div>

    <div fxFlex="50"
         fxFlex.xs="100">
        <img [src]="heroe | imagen">
    </div>
</div>